#title {
    font-family: 'Coda Caption', sans-serif;
    font-size: 30px;
    color: yellow;
}

.taskButton {
    /* display: flex; */
    justify-content: center;
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    font-family: 'Gaegu', cursive;
    font-size: 20pt;
    color: black;
    position: absolute;
    top: 50%;
    left: 46.5%;
    bottom: 2%;
    /* transform: translate(-50%, -50%); */
}

.taskButton p:hover {
    color: yellow;
    text-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.buttonImage {
    width: 10%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.014);
    cursor: pointer;
}

.tasksContainer {
    margin-top: 5pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5pt;
    max-width: 24%;
    border-radius: 5%;
}

.top {z-index: 2; position: relative}
.bottom {z-index: 1; position: relative}

.cross {
    margin-right: 4pt;
    margin-top: 4pt;
    margin-left: 4pt;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.cross:hover {
    box-shadow: 1px 1px 15px black;
}

.card-background-color {
    background-color: #ff3860;
}
.p-style {
    background-color: aliceblue;
    border-radius: 5%;
    margin-left: 4pt;
    margin-top: 2pt;
}

.d-style {
    background-color: white;
    border-radius: 5%;
    height: 100%;
    min-height: 60px;
    margin-bottom: 0.25rem;
}

.content-style {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

.t-style {
    color: white;
}
